@import"./fonts/source-sans-pro/source-sans-pro.css";

:root {
    --r-background-color:  #fff;
    --r-main-font:  Source Sans Pro,  Helvetica,  sans-serif;
    --r-main-font-size:  40px;
    --r-main-color:  #222;
    --r-block-margin:  12px;
    --r-heading-margin:  0 0 12px 0;
    --r-heading-font:  Source Sans Pro,  Helvetica,  sans-serif;
    --r-heading-color:  #222;
    --r-heading-line-height:  1.2;
    --r-heading-letter-spacing:  normal;
    --r-heading-text-transform:  none;
    --r-heading-text-shadow:  none;
    --r-heading-font-weight:  600;
    --r-heading1-text-shadow:  none;
    --r-heading1-size:  2.5em;
    --r-heading2-size:  1.6em;
    --r-heading3-size:  1.3em;
    --r-heading4-size:  1em;
    --r-code-font:  monospace;
    --r-link-color:  #2a76dd;
    --r-link-color-dark:  #1a53a1;
    --r-link-color-hover:  #5692e4;
    --r-selection-background-color:  #98bdef;
    --r-selection-color:  #fff;
}
.reveal-viewport {
    background: #fff;
    background-color: var(--r-background-color);
}
.reveal {
    font-family: var(--r-main-font);
    font-size: var(--r-main-font-size);
/*     font-weight: normal; */
    color: var(--r-main-color);
}
.reveal ::selection {
    color: var(--r-selection-color);
    background: var(--r-selection-background-color);
    text-shadow: none;
}
.reveal ::-moz-selection {
    color: var(--r-selection-color);
    background: var(--r-selection-background-color);
    text-shadow: none;
}
.reveal .slides section, .reveal .slides section>section {
    line-height: 1.3;
    font-weight: inherit;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    margin: var(--r-heading-margin);
    color: var(--r-heading-color);
    font-family: var(--r-heading-font);
    font-weight: var(--r-heading-font-weight);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    text-transform: var(--r-heading-text-transform);
    text-shadow: var(--r-heading-text-shadow);
    word-wrap: break-word;
}
.reveal h1 {
    font-size: var(--r-heading1-size);
}
.reveal h2 {
    font-size: var(--r-heading2-size);
}
.reveal h3 {
    font-size: var(--r-heading3-size);
}
.reveal h4 {
    font-size: var(--r-heading4-size);
}
.reveal h1 {
    text-shadow: var(--r-heading1-text-shadow);
}
.reveal p {
    margin: var(--r-block-margin) 0;
    line-height: 1.3;
}
.reveal h1:last-child, .reveal h2:last-child, .reveal h3:last-child, .reveal h4:last-child, .reveal h5:last-child, .reveal h6:last-child {
    margin-bottom: 0;
}
.reveal img, .reveal video, .reveal iframe {
    max-width: 95%;
    max-height: 95%}
.reveal strong, .reveal b {
    font-weight: bold;
}
.reveal em {
    font-style: italic;
}
.reveal ol, .reveal dl, .reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}
.reveal ol {
    list-style-type: decimal;
}
.reveal ul {
    list-style-type: disc;
}
.reveal ul ul {
    list-style-type: square;
}
.reveal ul ul ul {
    list-style-type: circle;
}
.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
    display: block;
    margin-left: 40px;
}
.reveal dt {
    font-weight: bold;
}
.reveal dd {
    margin-left: 40px;
}
.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: var(--r-block-margin) auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
}
.reveal blockquote p:first-child, .reveal blockquote p:last-child {
    display: inline-block;
}
.reveal q {
    font-style: italic;
}
.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: var(--r-block-margin) auto;
    text-align: left;
    font-size: .55em;
    font-family: var(--r-code-font);
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .15);
}
.reveal code {
    font-family: var(--r-code-font);
    text-transform: none;
    tab-size: 2;
}
.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}
.reveal .code-wrapper {
    white-space: normal;
}
.reveal .code-wrapper code {
    white-space: pre;
}
.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}
.reveal table th {
    font-weight: bold;
}
.reveal table th, .reveal table td {
    text-align: left;
    padding: .2em .5em .2em .5em;
    border-bottom: 1px solid;
}
.reveal table th[align=center], .reveal table td[align=center] {
    text-align: center;
}
.reveal table th[align=right], .reveal table td[align=right] {
    text-align: right;
}
.reveal table tbody tr:last-child th, .reveal table tbody tr:last-child td {
    border-bottom: none;
}
.reveal sup {
    vertical-align: super;
    font-size: smaller;
}
.reveal sub {
    vertical-align: sub;
    font-size: smaller;
}
.reveal small {
    display: inline-block;
    font-size: .6em;
    line-height: 1.2em;
    vertical-align: top;
}
.reveal small * {
    vertical-align: top;
}
.reveal img {
    margin: var(--r-block-margin) 0;
}
.reveal a {
    color: var(--r-link-color);
    text-decoration: none;
    transition: color .15s ease;
}
.reveal a:hover {
    color: var(--r-link-color-hover);
    text-shadow: none;
    border: none;
}
.reveal .roll span:after {
    color: #fff;
    background: var(--r-link-color-dark);
}
.reveal .r-frame {
    border: 4px solid var(--r-main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}
.reveal a .r-frame {
    transition: all .15s linear;
}
.reveal a:hover .r-frame {
    border-color: var(--r-link-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, .55);
}
.reveal .controls {
    color: var(--r-link-color);
}
.reveal .progress {
    background: rgba(0, 0, 0, .2);
    color: var(--r-link-color);
}
@media print {
    .backgrounds {
    background-color: var(--r-background-color);
}
}.top-right {
    position: absolute;
    top: 1em;
    right: 1em;
}
.hidden {
    display: none !important;
}
.quarto-layout-panel {
    margin-bottom: 1em;
}
.quarto-layout-panel>figure {
    width: 100%}
.quarto-layout-panel>figure>figcaption, .quarto-layout-panel>.panel-caption {
    margin-top: 10pt;
}
.quarto-layout-panel>.table-caption {
    margin-top: 0px;
}
.table-caption p {
    margin-bottom: .5em;
}
.quarto-layout-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.quarto-layout-valign-top {
    align-items: flex-start;
}
.quarto-layout-valign-bottom {
    align-items: flex-end;
}
.quarto-layout-valign-center {
    align-items: center;
}
.quarto-layout-cell {
    position: relative;
    margin-right: 20px;
}
.quarto-layout-cell:last-child {
    margin-right: 0;
}
.quarto-layout-cell figure, .quarto-layout-cell>p {
    margin: .2em;
}
.quarto-layout-cell img {
    max-width: 100%}
.quarto-layout-cell .html-widget {
    width: 100% !important;
}
.quarto-layout-cell div figure p {
    margin: 0;
}
.quarto-layout-cell figure {
    display: inline-block;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.quarto-layout-cell table {
    display: inline-table;
}
.quarto-layout-cell-subref figcaption {
    text-align: center;
    font-style: italic;
}
.quarto-figure {
    position: relative;
    margin-bottom: 1em;
}
.quarto-figure>figure {
    width: 100%;
    margin-bottom: 0;
}
.quarto-figure-left>figure>p {
    text-align: left;
}
.quarto-figure-center>figure>p {
    text-align: center;
}
.quarto-figure-right>figure>p {
    text-align: right;
}
figure>p:empty {
    display: none;
}
figure>p:first-child {
    margin-top: 0;
    margin-bottom: 0;
}
figure>figcaption {
    margin-top: .5em;
}
div[id^=tbl-] {
    position: relative;
}
.quarto-figure>.anchorjs-link, div[id^=tbl-]>.anchorjs-link {
    position: absolute;
    top: 0;
    right: 0;
}
.quarto-figure:hover>.anchorjs-link, div[id^=tbl-]:hover>.anchorjs-link, h2:hover>.anchorjs-link, h3:hover>.anchorjs-link, h4:hover>.anchorjs-link, h5:hover>.anchorjs-link, h6:hover>.anchorjs-link, .reveal-anchorjs-link>.anchorjs-link {
    opacity: 1;
}
#title-block-header {
    margin-block-end: 1rem;
    position: relative;
}
#title-block-header .abstract {
    margin-block-start: 1rem;
}
#title-block-header .abstract .abstract-title {
    font-weight: 600;
}
#title-block-header a {
    text-decoration: none;
}
#title-block-header .author, #title-block-header .date, #title-block-header .doi {
    margin-block-end: .2rem;
}
#title-block-header>.quarto-title-block>div {
    display: flex;
}
#title-block-header>.quarto-title-block>div>h1 {
    flex-grow: 1;
}
#title-block-header>.quarto-title-block>div>button {
    flex-shrink: 0;
    height: 2.25rem;
    margin-top: 0;
}
tr.header>th>p:last-of-type {
    margin-bottom: 0px;
}
table, .table {
    caption-side: top;
}
caption, .table-caption {
    text-align: center;
}
.utterances {
    max-width: none;
    margin-left: -8px;
}
iframe {
    margin-bottom: 1em;
}
details {
    margin-bottom: 1em;
}
details[show] {
    margin-bottom: 0;
}
details>summary {
    color: #a2a2a2;
}
pre.sourceCode, code.sourceCode {
    position: relative;
}
code {
    white-space: pre;
}
@media print {
    code {
    white-space: pre-wrap;
}
}pre>code {
    display: block;
}
pre>code.sourceCode {
    white-space: pre;
}
pre>code.sourceCode>span>a:first-child::before {
    text-decoration: none;
}
pre.code-overflow-wrap>code.sourceCode {
    white-space: pre-wrap;
}
pre.code-overflow-scroll>code.sourceCode {
    white-space: pre;
}
code a:any-link {
    color: inherit;
    text-decoration: none;
}
code a:hover {
    color: inherit;
    text-decoration: underline;
}
ul.task-list {
    padding-left: 1em;
}
[data-tippy-root] {
    display: inline-block;
}
.tippy-content .footnote-back {
    display: none;
}
.quarto-embedded-source-code {
    display: none;
}
.quarto-unresolved-ref {
    font-weight: 600;
}
.quarto-cover-image {
    max-width: 35%;
    float: right;
    margin-left: 30px;
}
.cell-output-display .widget-subarea {
    margin-bottom: 1em;
}
.cell-output-display:not(.no-overflow-x) {
    overflow-x: auto;
}
.panel-input {
    margin-bottom: 1em;
}
.panel-input>div, .panel-input>div>div {
    display: inline-block;
    vertical-align: top;
    padding-right: 12px;
}
.panel-input>p:last-child {
    margin-bottom: 0;
}
.layout-sidebar {
    margin-bottom: 1em;
}
.layout-sidebar .tab-content {
    border: none;
}
.panel-tabset [role=tablist] {
    border-bottom: 1px solid #bbb;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%}
.panel-tabset [role=tablist] * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media(min-width: 30em) {
    .panel-tabset [role=tablist] li {
        display: inline-block;
    }
}
.panel-tabset [role=tab] {
    border: 1px solid transparent;
    border-top-color: #bbb;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
}
@media(min-width: 30em) {
    .panel-tabset [role=tab] {
        border-top-color: transparent;
        display: inline-block;
        margin-bottom: -1px;
    }
}
.panel-tabset [role=tab][aria-selected=true] {
    background-color: #bbb;
}
@media(min-width: 30em) {
    .panel-tabset [role=tab][aria-selected=true] {
        background-color: transparent;
        border: 1px solid #bbb;
        border-bottom-color: #fff;
    }
}
@media(min-width: 30em) {
    .panel-tabset [role=tab] hover:not([aria-selected=true]) {
        border: 1px solid #bbb;
    }
}
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
    color: #222;
}
section.has-light-background a, section.has-light-background a:hover {
    color: #2a76dd;
}
section.has-light-background code {
    color: #4758ab;
}
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
    color: #fff;
}
section.has-dark-background a, section.has-dark-background a:hover {
    color: #42affa;
}
section.has-dark-background code {
    color: #ffa07a;
}
#title-slide {
    text-align: center;
}
.reveal .slides {
    text-align: left;
}
.reveal .title-slide h1 {
    font-size: 1.6em;
}
.reveal[data-navigation-mode=linear] .title-slide h1 {
    font-size: 2.5em;
}
.reveal div.sourceCode {
    border: 1px solid #bbb;
    border-radius: 4px;
}
.reveal pre {
    width: 100%;
    box-shadow: none;
    background-color: #fff;
    border: none;
    margin: 0;
    font-size: .55em;
}
.reveal code {
    color: var(--quarto-hl-fu-color);
    background-color: transparent;
}
.reveal pre code {
    color: #222;
    background-color: #fff;
    padding: 6px 9px;
    max-height: 500px;
}
.reveal .layout-sidebar {
    display: flex;
    width: 100%;
    margin-top: .8em;
}
.reveal .layout-sidebar .panel-sidebar {
    width: 270px;
}
.reveal .layout-sidebar-left .panel-sidebar {
    margin-right: calc(0.5em * 2);
}
.reveal .layout-sidebar-right .panel-sidebar {
    margin-left: calc(0.5em * 2);
}
.reveal .layout-sidebar .panel-fill, .reveal .layout-sidebar .panel-center, .reveal .layout-sidebar .panel-tabset {
    flex: 1;
}
.reveal .panel-input, .reveal .panel-sidebar {
    font-size: .5em;
    padding: .5em;
    border-style: solid;
    border-color: #bbb;
    border-width: 1px;
    border-radius: 4px;
    background-color: #f8f9fa;
}
.reveal .panel-sidebar :first-child, .reveal .panel-fill :first-child {
    margin-top: 0;
}
.reveal .panel-sidebar :last-child, .reveal .panel-fill :last-child {
    margin-bottom: 0;
}
.panel-input>div, .panel-input>div>div {
    vertical-align: middle;
    padding-right: 1em;
}
.reveal p, .reveal .slides section, .reveal .slides section>section {
    line-height: 1.3;
}
.reveal.smaller .slides section, .reveal .slides section.smaller, .reveal .slides section .callout {
    font-size: 0.7em;
}
.reveal.smaller .slides h1, .reveal .slides section.smaller h1 {
    font-size: calc(2.5em / 0.7);
}
.reveal.smaller .slides h2, .reveal .slides section.smaller h2 {
    font-size: calc(1.6em / 0.7);
}
.reveal.smaller .slides h3, .reveal .slides section.smaller h3 {
    font-size: calc(1.3em / 0.7);
}
.reveal.smaller .slides pre, .reveal .slides section.smaller pre {
    font-size: calc(0.55em / 0.7);
}
.reveal .slide-number {
    color: #2a76dd;
    background-color: #fff;
}
.reveal .footer {
    color: #a2a2a2;
}
.reveal .footer a {
    color: #5692e4;
}
.reveal .slide-number {
    color: #a2a2a2;
}
.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption {
    font-size: 0.7em;
}
@media screen and (min-width: 500px) {
    .reveal .controls[data-controls-layout=edges] .navigate-left {
    left: .2em;
}
.reveal .controls[data-controls-layout=edges] .navigate-right {
    right: .2em;
}
.reveal .controls[data-controls-layout=edges] .navigate-up {
    top: .4em;
}
.reveal .controls[data-controls-layout=edges] .navigate-down {
    bottom: 2.3em;
}
}.tippy-box[data-theme~=quarto-reveal] {
    background-color: #fff;
    color: #222;
    border-radius: 4px;
    border: solid 1px #6f6f6f;
    font-size: .6em;
}
.tippy-box[data-theme~=quarto-reveal] .tippy-arrow {
    color: #6f6f6f;
}
.tippy-box[data-placement^=bottom]>.tippy-content {
    padding: 7px 10px;
    z-index: 1;
}
.reveal .callout.callout-style-simple .callout-body, .reveal .callout.callout-style-default .callout-body, .reveal .callout.callout-style-simple div.callout-caption, .reveal .callout.callout-style-default div.callout-caption {
    font-size: inherit;
}
.reveal .callout.callout-style-default .callout-icon::before {
    height: 2rem;
    width: 2rem;
    background-size: 2rem 2rem;
}
.reveal .callout.callout-captioned .callout-caption p {
    margin-top: .5em;
}
.reveal .callout.callout-captioned .callout-icon::before {
    margin-top: 1rem;
}
.reveal .callout.callout-captioned .callout-body>:last-child, .reveal .callout.callout-captioned .callout-body>div>:last-child {
    margin-bottom: 1rem;
}
.reveal .panel-tabset [role=tab] {
    padding: .25em .7em;
}
